
{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4">Inbox</h2>
    <ul class="list-group">
        {% for convo in conversations %}
            <li class="list-group-item">
                <a href="{% url 'messaging:conversation_detail' convo.id %}">
                    Conversation {{ convo.id }}
                </a>
            </li>
        {% empty %}
            <li class="list-group-item">No conversations yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}